using './main.bicep'

param prefix = 'giadyen'
param environmentName = 'production'
param adyenMerchantAccount = 'YOUR_LIVE_MERCHANT'
param adyenEnvironment = 'live'
param ingressAuthClientId = 'YOUR_PRODUCTION_INGRESS_API_APP_ID'
param adyenWebhookClientId = 'YOUR_PRODUCTION_ADYEN_OAUTH_CLIENT_APP_ID'
param ingressAuthIssuer = 'https://login.microsoftonline.com/YOUR_TENANT_ID/v2.0'
param ingressAuthAudience = 'api://YOUR_PRODUCTION_INGRESS_API_APP_ID'
param businessCentralTenantId = 'YOUR_TENANT_ID'
param businessCentralEnvironmentName = 'Production'
param businessCentralCompanyId = 'YOUR_PRODUCTION_COMPANY_ID'
param businessCentralClientId = 'YOUR_PRODUCTION_BC_SERVICE_APP_ID'
