using './main.bicep'

param prefix = 'giadyen'
param environmentName = 'test'
param adyenMerchantAccount = 'YOUR_TEST_MERCHANT'
param adyenEnvironment = 'test'
param ingressAuthClientId = 'YOUR_INGRESS_API_APP_ID'
param adyenWebhookClientId = 'YOUR_ADYEN_OAUTH_CLIENT_APP_ID'
param ingressAuthIssuer = 'https://login.microsoftonline.com/YOUR_TENANT_ID/v2.0'
param ingressAuthAudience = 'api://YOUR_INGRESS_API_APP_ID'
param businessCentralTenantId = 'YOUR_TENANT_ID'
param businessCentralEnvironmentName = 'Sandbox'
param businessCentralCompanyId = 'YOUR_SANDBOX_COMPANY_ID'
param businessCentralClientId = 'YOUR_BC_SERVICE_APP_ID'
